
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
}

#nav-bar {
    position: relative;
    top: 0;
    z-index: 10;
}

.navbar {
    background-color: #0067ff;
    padding: 0 !important;
    height: 70px;
}

.nav-item {
    margin-inline: 20px;
}

#logo {
    width: 150px;
    margin-inline: 20px;
    
}