
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
}

#nav-bar {
    position: relative;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #0067ff,#0039c2 );
    padding: 0 !important;
    height: 70px;
}

.navbar-nav li a {
    color: #fff !important;
    float: right;
    text-align: left;
}

.nav-item {
    margin-inline: 20px;
}

.navbar-brand img {
    width: 150px;
    margin-inline: 100px;
    margin-top: 20px;
    
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;

}

.navbar-toggler {
    outline: none !important;
}


#banner {
    background-image: linear-gradient(to right, #0067ff,#0039c2 );
    color: #fff;
    padding-top: 2%;

}

.ola {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;

}

.bem-vindo{
    font-size: 20px;
    margin-top: 10px;
}


.bottom-img {
    position: static;
    width: 1920px;
    height: 227px;
    margin-inline: -100px;
    display: flex;
 }


 #sobre-mim {
     padding: 30px 0;
 }

 .img-sobre-mim{
     border-radius: 50%;
     width: 100%;
     margin-top: 100px;
 }

 .txt-sobre-mim {
    margin: 200px 50px;;
    
 }

 .title::before {
     content: "";
     background: #0067ff;
     height: 5px;
     width: 200px;
     margin-left: auto;
     margin-right: auto;
     display: block;
     transform: translateY(63px);
 }

 .title::after {
    content: "";
    background: #0067ff;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    scroll-margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}